.selectedActor {
  border: 1px solid grey;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  height: 100px;
}

.selectedActor > * {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.actor {
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 5px;
}

.actor.selected {
  background: #3ebede;
  color: white;
}

